@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;

  --color-primary: #3b82f6;
  /* Blue for Admin */
  --color-primary-foreground: #ffffff;

  --color-card: #09090b;
  --color-card-foreground: #fafafa;

  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;

  --color-border: #27272a;
  --color-input: #27272a;

  --radius-3xl: 1.5rem;
  --radius-2xl: 1rem;
}

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

body {
  background-color: #09090b;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}